<style>
    body{
        background-color:{{fondo}};
    }

    #centro{
        background-color:coral;
        margin: auto;
        width: fit-content;
        padding: 15px;
        background-color:{{centro}};
    }

    #volver{
        background-color: coral;
        border-radius: 10px;
        font-size: large;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<a href="/userHub"><button id="volver">&#8249;</button></a>

<h3 style="text-align: center;">Crear Applicacion</h3>
<div id="centro">
    <form action="/addApp" method="post">
        <input type="text" placeholder="nombre" name="nombre"><br>
        <input type="text" placeholder="enlace" name="enlace"><br>
        <input type="submit" value="Guardar Appliacion">
    </form>
</div>