<a href="/Empresas" class="previous round">&#8249;</a>
<div>
    <form action="/CrearEmpresa" method="post">
        <input type="text" name="nombre" placeholder="Nombre"><br>
        <input type="submit">
    </form>
</div>