<style>
    body{
        background-color: {{fondo}};
    }

    #centro{
        background-color:coral;
        margin: auto;
        width: fit-content;
        padding: 15px;

        background-color: {{centro}};
    }

    #volver{
        background-color: coral;
        border-radius: 10px;
        font-size: large;
    }

</style>

<a href="/home"><button id="volver">&#8249;</button></a>

<h3 style="text-align:center;">Crear Usuario</h3>
<div id="centro">
    <form action="/Registro" method="post">
        <input type="text" placeholder="Usuario" name="usuario"><br>
        <input type="text" placeholder="Correo" name="correo"><br>
        {{#if gestion}}
            <label><input type="radio" name="privilegios" value="Gestion">Gestion</label><br>
        {{/if}}
        <label><input type="radio" name="privilegios" value="Admin">Administración</label><br>
        <label><input type="radio" name="privilegios" value="Invitado" checked="check">Sin Privilegios</label><br>
        <input type="hidden" name="empresa" value="{{{empresa}}}" placeholder="empresa"><br>
        <input type="submit" value="Crear Usuario">
    </form>
</div>