<h3 style="text-align:center;">Crear Usuario</h3>
<div style="background-color:coral; margin: auto; width: fit-content; padding: 15px;">
    <form action="/Registro" method="post">
        <input type="text" placeholder="Usuario" name="usuario"><br>
        <input type="text" placeholder="Correo" name="correo"><br>
        {{#if gestion}}
            <label><input type="radio" name="privilegios" value="Gestion">Gestion</label><br>
        {{/if}}
        <label><input type="radio" name="privilegios" value="Admin">Administración</label><br>
        <label><input type="radio" name="privilegios" value="Invitado" checked="check">Sin Privilegios</label><br>
        <input type="hidden" name="empresa" value="{{{empresa}}}" placeholder="empresa"><br>
        <input type="submit" value="Crear Usuario">
    </form>
</div>