<div style="margin-top: auto; text-align: center;">
    <form action="/Guardar" method="post">
        <label>{{nombre}}</label><br>
        <input type="hidden" name="usuario" value="{{nombre}}"><br>
        <input type="text" name="correo" value="{{correo}}"><br>
        {{#if superuser}}

        {{#if adm}}
        <label><input type="radio" name="privilegios" value="Admin" checked="checked">Administración</label><br>
        <label><input type="radio" name="privilegios" value="Invitado">Sin Privilegios</label><br>
        {{else if invitado}}
        <label><input type="radio" name="privilegios" value="Admin">Administración</label><br>
        <label><input type="radio" name="privilegios" value="Invitado" checked="checked">Sin Privilegios</label><br>
        {{/if}}

        {{/if}}

        <input type="submit" value="modificar">
    </form><br>
    <form action="/Eliminar" method="post">
        <input type="submit" value="ELIMINAR" style="background-color: red;">
    </form>
</div>