<h1>Herramientas de Usuario</h1>
<div style="margin-top: auto; height: 500px; padding: 10px; background-color: grey; float: left;">
    <form action="/home" method="post">
        <input type="submit" value="Crear Usuario">
    </form>
    <form action="/Lista" method="get">
        <input type="submit" value="Lista de Usuario">
    </form>
    <form action="/Modificar" method="get">
        <input type="submit" value="Modificar Usuario">
    </form>
    <form action="/Perfil" method="get">
        <input type="submit" value="Peril">
    </form>
    <form action="/" method="get">
        <input type="submit" value="Log Out">
    </form>
</div>