<h1>Herramientas de Usuario</h1>
<div style="width:100px;margin-top: auto; height: 500px; padding: 10px; background-color: rgb(186, 186, 186); float: left;">
    {{#if admin}}
        <form action="/Registroo" method="post">
            <input type="hidden" name="empresa" value="{{empresa}}">
            <input type="submit" value="Crear Usuario">
        </form>
    {{/if}}
    <form action="/Perfil" method="get">
        <input type="submit" value="Peril">
    </form>
    {{#if privilegiado}}
        <form action="/Empresas" method="get">
            <input type="submit" value="Empresas">
        </form>
    {{/if}}
    <form action="/" method="get">
        <input type="submit" value="Log Out">
    </form>
</div>
<div style="float:none; margin-left:180px; margin-right:25px; margin-top:auto; margin-bottom:25px; width:auto; height:400px;">
    {{>ListaUsuarios}}
</div>