<style>
    body{
        background-color: {{fondo}};
    }

    #barra{
        width:100px;
        margin-top: auto; 
        height: 500px; 
        padding: 10px; 
        background-color: rgb(186, 186, 186);
        background-color: {{barra}}; 
        float: left;
    }

    #centro{
        float:none;
        margin-left:180px;
        margin-right:25px;
        margin-top:auto;
        margin-bottom:25px;
        width:auto;
        height:400px;
        background-color: {{centro}};
    }


</style>

<h1>Herramientas de Usuario</h1>
<div id="barra">
    {{#if admin}}
        <form action="/Registroo" method="post">
            <input type="hidden" name="empresa" value="{{empresa}}">
            <input type="submit" value="Crear Usuario">
        </form>
        <form action="/Ajustes" method="get">
            <input type="submit" value="Ajustes">
        </form>
    {{/if}}
    {{#if privilegiado}}
        <form action="/Empresas" method="get">
            <input type="submit" value="Empresas">
        </form>
    {{/if}}
    <form action="/userHub" method="get">
        <input type="submit" value="Hub">
    </form>
</div>
<div id="centro" style="">
    {{>ListaUsuarios}}
</div>