<style>
    body{
        background-color: {{fondo}};
    }

    h1{
        text-align: center;
    }

    #desplegable{
        width: 50px;
    }

    #sideBar{
        background-color: aquamarine;
        padding: 0;
        width: 200px;
        height: 500px;
        margin: none;
        margin-top: 0;
        float: left;
        display: none;
        position: absolute;

        background-color: {{barra}};
    }

    #resto{
        padding: 0%;
        width: 90%;
        margin-top: 0%;
        float: right;
        background-color:rgba(240, 248, 255, 0);
    }

    #cerrar{
        float: right;
        margin: 5px;
        background-color: rgb(190, 55, 55);
        width: 50px;
    }

    .botonesBarra{
        background-color: rgb(73, 136, 255);
        padding: 5px;
        border-radius: 10px;
        border: none;
        margin: 5px;
        width: 150px;
    }

    #barra{
        width:fit-content;
        height: 50px;
        margin-top: auto;
        margin-bottom: 20px;
        margin-left:auto;
        margin-right: auto;
        padding: 10px; 
        background-color: rgba(186, 186, 186, 0);
    }

    #centro{
        margin-left:auto;
        margin-top:auto;
        margin-bottom:25px;
        width:60%;
        min-height:200px;
        background-color: {{centro}};
    }

    #iconoBarra{
        float: left;
        position: absolute;
    }

    form{
        float: left;
    }

    .botonesExtra{
        width: 150px;
        height: 50px;
        font-size: medium;
    }

</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="sideBar">
    <button id="cerrar" class="botonesBarra" onclick="hide()">Cerrar&times;</button><br><br>
    <a href="/Perfil"><button class="botonesBarra"><i class="fa fa-user"></i> Perfil</button></a>
    <a href="/home"><button class="botonesBarra"><i class="fa fa-cog"></i> Administración</button></a>
    <a href="/userHub"><button class="botonesBarra"><i class="fa fa-mobile-phone"></i> Aplicaciones</button></a>
</div>
<a href="javascript:void(0)" onclick="show()" id="iconoBarra"><img id="desplegable" src="imagenes/desplegable.png" alt="qqq"></a>

<div id="resto">
    <h1>Administración</h1>
    <div id="barra">
        {{#if admin}}
            <form action="/Registroo" method="post">
                <input type="hidden" name="empresa" value="{{empresa}}">
                <input class="botonesExtra" type="submit" value="Crear Usuario">
            </form>
            <form action="/Ajustes" method="get">
                <input class="botonesExtra" type="submit" value="Ajustes">
            </form>
        {{/if}}
        {{#if privilegiado}}
            <form action="/Empresas" method="get">
                <input class="botonesExtra" type="submit" value="Empresas">
            </form>
        {{/if}}
        <form action="/userHub" method="get">
            <input class="botonesExtra" type="submit" value="Hub">
        </form>
    </div>
    <div id="centro">
        {{>ListaUsuarios}}
    </div>
</div>


<!--Scripts-->
<script>
    function hide(){
        document.getElementById('sideBar').style.display = "none";
        document.getElementById('iconoBarra').style.display = "block";
        document.getElementById('iconoBarra').style.width = "fit-content";
        document.getElementById('iconoBarra').style.float = "left";
    }

    function show(){
        document.getElementById('sideBar').style.display = "block";
        document.getElementById('iconoBarra').style.display = "none";
    }
</script>