<div style="text-align: center;">
    <h2>AnySolution</h2>
    <form action="/" method="post">
        <input type="text" name="usuario" placeholder="Usuario"><br>
        <input type="password" name="p1" placeholder="Contraseña"><br>
        <input type="submit" value="Log In">
    </form>
    <a href="/token">Tengo un token</a>
</div>