<style>
    body{
        background-color:{{fondo}};
    }

    #centro{
        background-color:coral;
        margin: auto;
        width: fit-content;
        padding: 15px;
        background-color:{{centro}};
    }
</style>

<h3 style="text-align: center;">Perfil</h3>
<div id="centro">
    <form action="/Perfil" method="post">
        <input type="text" name="usuario" placeholder="usuario" value="{{usuario}}"><br><br>
        <input type="text" name="password1" placeholder="contraseña nueva"><br>
        <input type="text" name="password2" placeholder="contraseña nueva"><br><br>
        <input type="submit" value="Guardar cambios">
    </form>
</div>