<div>
    <form action="/Perfil" method="post">
        <input type="text" name="usuario" placeholder="usuario" value="{{usuario}}"><br>
        <input type="text" name="password1" placeholder="contraseña nueva"><br>
        <input type="text" name="password2" placeholder="contraseña nueva"><br><br>
        <input type="submit" value="Guardar cambios">
    </form>
</div>