<div style="text-align: center;">
    <form action="/introducirUser" method="post">
        <label>{{nombre}}</label><br><br>
        <input type="hidden" value="{{nombre}}" name="nombre">
        <input type="password" placeholder="Contraseña" name="p1"><br>
        <input type="password" placeholder="Contraseña" name="p2"><br>
        <input type="submit" value="Confirmar">
    </form>
</div>